.footer {
  border-top: 1px solid var(--c-primary);

  .footer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    padding: 56px 20px 56px 20px;

    @include tablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__logo {
      text-align: center;
      color: var(--c-white);
      font-family: var(--ff-v);
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;

      @include mobile {
        font-size: 18px;
      }

      div:last-child {
        color: var(--c-white);
        font-family: var(--ff);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: lowercase;

        @include mobile {
          font-size: 12px;
        }
      }
    }

    &__nav {
      display: flex;

      @include tablet {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
      }
    }
    &__ul {
      display: flex;
      gap: 56px;
      align-items: center;

      @include mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
      }
    }

    &__a {
      color: var(--c-header-link);
      font-family: var(--ff);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;

      transition: var(--transition);

      @include mobile {
        font-size: 14px;
      }

      &:hover {
        color: var(--c-primary);
      }
    }

    &__socials {
      display: flex;
      gap: 16px;
      margin-left: 276px;

      @include tablet {
        margin-left: 0;
      }

      img {
        &.social-icon {
          transition: var(--transition);

          &:hover {
            background: var(--social-hov);
            border-radius: 50%;
          }
        }
      }
    }
  }
}
