.section-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 52px;
  margin-bottom: 110px;

  &__content {
    max-width: 493px;
  }

  &__info {
    margin-top: 85px;
  }
  &__title {
    max-width: 543px;
    color: #f5f5f5;
    font-family: var(--ff);
    font-size: 53px;
    font-weight: 400;
    letter-spacing: 5.3px;
    text-transform: uppercase;
    line-height: 78px;
    text-align: end;
  }

  &__btn {
    margin-top: 32px;
    display: flex;
    position: relative;
    justify-content: flex-end;
  }

  &__line {
    position: absolute;
    left: -30%;
    bottom: 0;
  }

  &__light {
    position: absolute;
    left: -145px;
    top: -313px;
  }

  &__skills {
    display: grid;
    grid: 39px;
    margin-top: 68px;

    .skills-ach {
      display: flex;
      align-items: center;
      gap: 92px;

      &__item {
        margin-bottom: 39px;
      }

      &__count {
        color: var(--c-header-link);
        font-family: var(--ff);
        font-size: 40px;
        font-weight: 400;
        line-height: 180%;
        text-transform: capitalize;
        text-align: center;
      }

      &__title {
        color: var(--c-primary);
        font-family: var(--ff);
        font-size: 16px;
        font-weight: 400;
        line-height: 180%;
        text-transform: capitalize;
      }
    }
    .skills-tech {
      border-top: 1px solid var(--c-border);
      border-bottom: 1px solid var(--c-border);
      padding: 14px 24px;
      display: flex;
      align-items: center;
      gap: 60px;
    }
  }

  .cv {
    border-radius: 29px;
    border: 1px solid var(--c-border);
    padding: 32px;

    &__text {
      color: var(--c-text);
      font-family: var(--ff-v);
      font-size: 16px;
      font-weight: 400;
      line-height: 180%;
      text-transform: capitalize;
      margin-bottom: 22px;
    }
  }
}
