<footer class="footer container">
    <a href="/" class="footer__logo">
      <div>FRONT-END</div>
      <div>developer</div>
    </a>
    <div class="footer__nav">
      <div
        class="footer__backdrop"
        id="footerBackdrop"
        onclick="navToggle()"
      ></div>
      <ul class="footer__ul" id="footerUl">
        <li class="footer__li"><a class="footer__a" href="/">About</a></li>
        <li class="footer__li">
          <a class="footer__a" href="/">experience</a>
        </li>
        <li class="footer__li"><a class="footer__a" href="/">reviews</a></li>
        <li class="footer__li"><a class="footer__a" href="/">contact</a></li>
  
        <ul class="footer__socials">
          <li class="footer__li">
            <a href="/">
              <img class="social-icon" src="img/socials/git.svg" alt="git" />
            </a>
          </li>
          <li class="footer__li">
            <a href="/">
              <img class="social-icon" src="img/socials/ln.svg" alt="ln" />
            </a>
          </li>
          <li class="footer__li">
            <a href="/">
              <img
                class="social-icon"
                src="img/socials/telegram.svg"
                alt="telegram"
              />
            </a>
          </li>
        </ul>
  
      </ul>
    </div>
  </footer>